@charset "utf-8";

body     {
    height: 842px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
}

header/*bandeau haut*/
{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 120px;
    background-color: #016ABC;
}

h2 {
    font-family: "ag_condensed", Helvetica, Verdana;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    padding-left: 50%;
}


td {
    background-color: white;
    border: thin solid black;
    width: 1%;
}

#bandeaulogo {
    float:left ;
    clear: both;
    padding-left: 10%;
}

#menu {
    /*position: fixed;*/
    right: 30%;
    text-align: right;
}

.menuopt {
    background-color: rgb(89, 139, 214);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: white;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.menuopt:hover {
    background-color: lightsteelblue;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: white;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

#entete {
    margin: 0 auto;
    padding-top: 20%;
    /*width: 900px;
    height: 250px;*/
}

#descetp {
    float:left ;
    clear: both;
    font-size: small;
    background-color: transparent;
    width: 70%;
}

#actu {
    float: right; ;
    width: 30%;
    background-color: darkorange;
    margin-bottom: 12%;
}

.photo {
    border:2px solid black;
}

#prestations {
    float: left;
    clear: both;
    font-size: small;
    background-color: transparent;
    width: 60%;
    margin-left: 5%;
}

#amenagement {
    float: right; ;
    width: 30%;
    background-color: darkorange;
    margin-bottom: 20%;
}

#produits {
    float: left;
    clear: both;
    font-size: small;
    background-color: transparent;
    width: 60%;
    margin-left: 5%;
}

#photoprod {
    float: right; ;
    width: 30%;
    background-color: darkorange;
    margin-bottom: 20%;
}

.envoyer {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000000;
    text-shadow:none;
}
    
.envoyer:hover {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000000;
    text-shadow:none;
    
}

.realisationphoto {
   /* margin: auto;*/
    display: inline-block;
}